
@model ASPwork.Models.User
@{
    ViewBag.Title = "登录";
}

<h2>@ViewBag.Title。</h2>

       @using(Html.BeginForm("DoLogin", "Account", FormMethod.Post))
    {
    <span>用户名:</span>
    @Html.TextBox("Name")
           <br />
        <br />
    <span>密码:</span>
    @Html.Password("Password")
        <input type="submit" value="登录" >
       }    