@{
    ViewBag.Title = "Home Page";
}

    <div>
        <!--郭志乐-->
        <table width="1169" height="318" border="2" align="left" cellpadding="0" cellspacing="0" class="fl_tb">
            <tbody>
                <tr>
                    <td colspan="2" bgcolor="#FFFFFF" class="fl_g"><h2> 模块介绍</h2></td>
                </tr>
                <tr>
                    <td width="563" align="left" class="fl_g">
                        <dl style="margin-left: 50px;">
                            <dt><a href="http://www.ts.cc/forum-80-1.html"><em></em></a></dt>
                            <dt>
                                <div align="left"></div>
                                <a href="http://www.ts.cc/forum-80-1.html"><em><span class="fl_icn_g" style="width: 50px;"></span></em></a>
                                <div align="left"></div>
                                <div align="left"><em><a href="http://www.ts.cc/forum-80-1.html"><img src="http://www.ts.cc/data/attachment/common/f0/common_80_icon.gif" alt="" width="57" height="57" align="left"></a></em>C++</div>
                            </dt>
                            <dd> <em>主题: 4万</em>, <em>帖数: 53万</em> </dd>
                            <dd>
                                <div align="left"><a href="http://www.ts.cc/forum.php?mod=redirect&amp;tid=1295943&amp;goto=lastpost#lastpost" class="xi2">简单操作，日进百元</a> <cite>昨天&nbsp;18:04 <a href="http://www.ts.cc/space-username-%B3%D4%C1%CB%BA%C3%B3%D4%B5%C4.html">吃了好吃的</a></cite></div>
                            </dd>
                            <dt>&nbsp;</dt>
                        </dl>
                    </td>
                    <td class="fl_g" width="608">
                        <dl style="margin-left: 50px;">
                            <dt><a href="http://www.ts.cc/forum-38-1.html"><em><span class="fl_icn_g" style="width: 50px;"></span></em></a><em> <a href="http://www.ts.cc/forum-38-1.html"><img src="http://www.ts.cc/data/attachment/common/a5/common_38_icon.jpg" alt="" width="57" height="57" align="left"></a>python</em></dt>
                            <em>
                                <dd><em>主题: <span title="11099">1万</span></em>, <em>帖数: <span title="215170">21万</span></em></dd><dd>
                                    <a href="http://www.ts.cc/forum.php?mod=redirect&amp;tid=1288957&amp;goto=lastpost#lastpost" class="xi2">一个微信改变你的一生</a> <cite><span title="2018-11-15 13:27">5&nbsp;天前</span> <a href="http://www.ts.cc/space-username-%D2%BB%CF%C2%BE%CD%D0%D1%C1%CB.html">一下就醒了</a></cite>
                                </dd>
                            </em>
                        </dl><em>
                        </em>
                    </td>
                </tr>
                <tr class="fl_row">
                    <td class="fl_g" width="563">
                        <dl style="margin-left: 50px;">
                            <dt><a href="http://www.ts.cc/forum-95-1.html"><em><span class="fl_icn_g" style="width: 50px;"><span class="fl_icn_g" style="width: 50px;"><span class="fl_icn_g" style="width: 50px;"></span></span></span></em></a><em><a href="http://www.ts.cc/forum-95-1.html"><img src="http://www.ts.cc/data/attachment/common/81/common_95_icon.jpg" alt="" width="57" height="55" align="left"></a>C#</em></dt>
                            <em>
                                <dd><em>主题: 6805</em>, <em>帖数: <span title="84497">8万</span></em></dd><dd>
                                    <a href="http://www.ts.cc/forum.php?mod=redirect&amp;tid=1162846&amp;goto=lastpost#lastpost" class="xi2">回家途中手机扫街</a> <cite><span title="2018-11-17 20:54">3&nbsp;天前</span> <a href="http://www.ts.cc/space-username-50mm.html">50mm</a></cite>
                                </dd>
                            </em>
                        </dl><em>
                        </em>
                    </td>
                    <td class="fl_g" width="608">
                        <dl style="margin-left: 50px;">
                            <dt><a href="http://www.ts.cc/forum-10-1.html" style="color: #FF9A1F;"><em><span class="fl_icn_g" style="width: 50px;"></span></em></a><em><a href="http://www.ts.cc/forum-10-1.html"><img src="http://www.ts.cc/data/attachment/common/d3/common_10_icon.gif" alt="" width="57" height="57" align="left"></a>java</em></dt>
                            <em>
                                <dd><em>主题: 9003</em>, <em>帖数: <span title="143765">14万</span></em></dd><dd>
                                    <a href="http://www.ts.cc/forum.php?mod=redirect&amp;tid=1273667&amp;goto=lastpost#lastpost" class="xi2">吃好猪肉的秘密点 乌牧有机山猪 ...</a> <cite>2018-11-1 14:24 <a href="http://www.ts.cc/space-username-yuebeiyi.html">yuebeiyi</a></cite>
                                </dd>
                            </em>
                        </dl><em>
                        </em>
                    </td>
                </tr>
                <tr class="fl_row">
                    <td width="563" height="110" class="fl_g">
                        <dl style="margin-left: 50px;">
                            <dt><a href="http://www.ts.cc/forum-270-1.html" style="color: #0099FF;"><em><span class="fl_icn_g" style="width: 50px;"></span></em></a><em><a href="http://www.ts.cc/forum-270-1.html"></a><a href="http://www.ts.cc/forum-270-1.html" style="color: #0099FF;"><img src="http://www.ts.cc/data/attachment/common/39/common_270_icon.jpg" alt="" width="57" height="57" align="left"></a>旅游户外</em></dt>
                            <em>
                                <dd><em>主题: 553</em>, <em>帖数: 1251</em></dd><dd>
                                    <a href="http://www.ts.cc/forum.php?mod=redirect&amp;tid=1224134&amp;goto=lastpost#lastpost" class="xi2">游玩张家界 吃住农家乐</a> <cite>2018-11-6 15:04 <a href="http://www.ts.cc/space-username-%C2%B7%BF%CD%BB%A7%CD%E2.html">路客户外</a></cite>
                                </dd>
                            </em>
                        </dl><em>
                        </em>
                    </td>
                    <td class="fl_g" width="608">
                        <dl style="margin-left: 50px;">
                            <dt><a href="http://www.ts.cc/forum-30-1.html" style="color: #0003F9;"><em><span class="fl_icn_g" style="width: 50px;"></span></em></a><em><a href="http://www.ts.cc/forum-30-1.html"><img src="http://www.ts.cc/data/attachment/common/34/common_30_icon.gif" alt="" width="57" height="57" align="left"></a>唐山车友</em></dt>
                            <em>
                                <dd><em>主题: <span title="12750">1万</span></em>, <em>帖数: <span title="100478">10万</span></em></dd><dd>
                                    <a href="http://www.ts.cc/forum.php?mod=redirect&amp;tid=1294283&amp;goto=lastpost#lastpost" class="xi2">原来汽车自动变速器的技术难度远 ...</a> <cite><span title="2018-11-16 14:33">4&nbsp;天前</span> <a href="http://www.ts.cc/space-username-haoliyou999.html">haoliyou999</a></cite>
                                </dd>
                            </em>
                        </dl><em>
                        </em>
                    </td>
                </tr>
            </tbody>
        </table>
    </div> 