body {
    padding-top: 60px;
    padding-bottom: 20px;
}
#hd {
    margin-top: 30px;
    width: 948px;
    height: 70px;
    border: 1px solid #D3DFDF;
    background: #FAFAFA url(images/header.jpg) no-repeat 100% 0;
    color: #069;
    margin-bottom: 0;
    position: relative;
}
