<div id="hd" class="wp cl">
   
    <h2 id="spaceinfoshow">
        <strong id="spacename" class="mbn">
            @Session["username"]的个人空间
        </strong>
        
        <span id="spacedescription" class="xs1 xw0 mtn"></span>
    </h2>
</div>
