
@{
    ViewBag.Title = "Post";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="~/kindeditor/kindeditor-all-min.js"></script>
<script src="~/kindeditor/kindeditor-all.js"></script>
<script type="text/javascript">
    //KindEditor脚本
    var editor;
    KindEditor.ready(function(K) {
        editor = K.create('#editor_id', {
        });
    });
</script>

<h3>发帖</h3>
@using (Html.BeginForm("Post", "topic", FormMethod.Post))
{
    Html.DropDownList("TUID", "");
        <span>标题:</span><input type="text" name="title" size="35">
                   <textarea id="editor_id" name="content" style="width:700px;height:300px;"></textarea>
    <input type="submit" value="发布">
}